.main-coches {
    min-height: 100vh;
    background-color: #c1e3ed;
    text-align: center;
  }

  .row {
    justify-content: space-around;
  }
  
  .color-boton {
    background-color: #8c60b4;
    color: white;
  }
  
  .btn {
    background-color: #c99bd4;
    color: black;
  }
  
  .btn:hover {
    background-color: #a4649d;
  }