.main-sucursales {
    background-color: #c1e3ed;
    min-height: 100vh;
    text-align: center;
    padding-top: 25px;
  }
  
  .main-sucursales h2 {
    padding-top: 25px;
    padding-bottom: 10px;
  }